@import url(http://fonts.googleapis.com/css?family=Gafata);

body, html {
	height: 100%;
	width: 100%;
	min-width: 980px;
	background:black;
}

h1,h2,h3,p {
	font-family: Gafata,sans-serif;
	font-weight:400;
}

h1 {
	font-size:30px;
}

.mid {
	text-align:center;
	position:relative;
	z-index: 1;
}

.part {
	position:relative;
	display:block;
	min-height:500px;
	width:100%;
	overflow-x: hidden;
	overflow: hidden;
/* 	display: none; */
}

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(0,0,0);
	background-size: 100px 100px; 
	display:none;
}

.textbox {
	font-size: 20px;
}

#nav {
	position: fixed;
	top:0px;
	left:0px;
	z-index: 2;
	display:none;
}
.title{
	margin-left:30px;
}

		/*-----------------------*/
		/* --- PART 0 STYLES --- */
		/*-----------------------*/

#part0 {
	background-color: #a5ccd3;
}

#startBtn {
	position: absolute;
	margin: 0 auto;
	left:0px;
	right:0px;
	top: 30%;
	width: 250px;
	height: 57px;
	text-align: center;
	background: #fcc360;
	border-radius: 10px;
	border:6px outset #f7ae2f;
	z-index: 1;
	cursor:default;
/* 	Code for disabling text selection: */
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;	
}
.clicked {
	border:6px inset #f7ae2f!important;
}

#instructions, #instructions-hint {
	position:relative;
	color:#787878;
	margin: 0 auto;
	left: 0px!important;
	right: 0px!important;
	text-align: center;
	z-index: 5;
	opacity: 1;
}

#instructions {
	top: 0px;
}

#instructions-hint {
	position: fixed;
	margin: 0 auto;
	bottom:-25px;
	color:rgba(159,159,159,0.59);
	width: 100px;
	font-size:14px;
	opacity: 0;
}


#banner {
	position:relative;
	width: 980px;
	display: block;
	margin: 0 auto;
	z-index: 1;
	top: 10%;
	rotationY:0deg;
	opacity:1;
    transform-style: preserve-3d;
	transition: transform 1s;
}

#banner.rotate {
  transform: perspective( 600px ) rotateY( 45deg );
  }

.mosq {
	position:absolute;
	left:0px;
	right:0px;
	margin: 0 auto;
	top:-145px;
	z-index: 1;
}

#clouds1 {
	position:absolute;
	background: url(../images/clouds.png) no-repeat;
	height:600px;
	width:600px;
	top: 5%;
	left:0px;
	z-index: 0;
}

#clouds2 {
	position:absolute;
	top:10%;
	left:-200px;
	z-index: 0;

}
#part0-info {
	background:white;
	position: relative;
	height: 120px;
	width: 100%;
	padding: 5px;
	text-align: right;
	border: 5px double #818181;
	border-radius: 50px 0px 0px 0px;
}

#part0-globe {
	width: 100px;
	position: relative;
	float:left;

}

#part0-wing{
	z-index:2;
}

#part0-mosn{
	opacity:1;
	clip: rect(0px, 230px, 200px, 0px);
}

#part0-mosr{
	opacity:1;
}
#part0-mosf{
	opacity:0;
}
#part0-bottom {
	position: absolute;
	bottom:0px;
	margin-bottom: 0px;
	height: 25%;
	width: 100%;
	background-color: #8b623c;
	z-index: 0;
}
		/*-----------------------*/
		/* --- PART 1 STYLES --- */
		/*-----------------------*/

#part1 {
	top:0px;
	background-color: #b73b40;
	}

#part1-top, #part1-bottom {
	position: absolute;
	background-color: #9e2730;
	height: 80px;
	width: 100%;
	z-index: 1;
}

#part1-top {
	top:0px;
}

#part1-bottom {
	bottom:0px;
}

#part1-blood {
	position:absolute;
	top: 50%;
}

#part1-bloodinf{
	position:absolute;
	top: 20%;
}

#part1-flow{
	position:relative;
	margin: 0 auto;
	top: 75px;
	left: -110px;
	width: 300px;
	height:auto;
	border: solid 1px black;
}

.flow {
	opacity: 0;
}

#part1-flowL{
	position:absolute;
	left: 0px;
	
}

#part1-flowR{
	position:absolute;
	right: 0px;
}

#part1-particles {
	position:relative;
	margin: 0 auto;
	top: 45px;
	left: -110px;
	width: 100px;
	height: 150px;	
	text-align: center;
}

.germs{
	top: -30px;
	position: relative;
}

#part1 .textbox{
	position:absolute;
	background:rgba(255,255,255,0.5);
	padding: 10px 20px;
	border-radius: 10px;
	color:white;
	z-index: 2;	
	font-size: 14px;
}

#part1 .textbox b{
	color: #3c7750;
}

#part1-text1 {
	top: 10%;
	right: 50px;
	width: 30%;
	
}

#part1-text2 {
	left: 50px;
	width: 25%;
	bottom: 10%;
}
#part1-text3 {
	width: 40%;
	right: 50px;
	bottom: 10%;
}

		/*-----------------------*/
		/* --- PART 2 STYLES --- */
		/*-----------------------*/
#part2 {
	background-color:#b8cebf;
}

#part2-top {
	position: absolute;
	background: #60915f;
	height: 80px;
	width: 100%;
}

#part2 .textbox{
	position:absolute;
	background:rgba(255,255,255,0.5);
	padding: 5px;
	border-radius: 10px;
	z-index: 2;	
	color: black;
	font-size: 12px;
}
/*
#part2-text1{
	margin: 0 auto!important;
	right: 0px!important;
	left: 0px!important;

	background:transparent!important;
}
*/

#part2-text2{
	width:25%;
	bottom: 100px;
	left: 15px;
}

#part2-top-info p {
	line-height: 2px;
	color: #6c6c6c;
}

#part2-world-map,#part2-world-map-cases,#part4-world-map {
	position:relative;
	margin: auto auto;
	right: 0px;
	left:0px;
	width: 80%;	/* 600px; */
	height:60%;	/* 400px; */
/* 	box-shadow: #545454 1px 1px 7px black */
	z-index:0;
	overflow: hidden;
}
#part2-map-legend {
	border-radius: 0px!important;
	width: auto;
	height: auto;
	text-align: center;
	background: #e7e7e7!important;
	right: 0px;
	bottom:70px;
}

#part2-map-legend .legend-colours{
	width:15px;
	height:15px;
	background:#9a0000;
	float:left;	
}

#part2-map-legend-cases {
	border-radius: 0px!important;
	width: auto;
	height: auto;
	text-align: center;
	right: 0px;
	bottom:70px;
	background: #e7e7e7!important;
}

#part2-map-legend-cases .legend-colours {
	width: 100px;
	height: 15px;
	margin-bottom: -3px;
	display: inline-block;
	background: -webkit-linear-gradient(left, white , #9a0000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #9a0000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #9a0000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white , #9a0000); /* Standard syntax (must be last) */
}
/* '#ffffff', '#9a0000' */

.jvectormap-container {
	height: 90%!important;
}

#part2-world-map-cases {
	position:absolute;
	opacity:0;
}

#part2-world-map-cases .jvectormap-container {
	position: absolute!important;
}

#part2-top-info {
	position:relative;
	margin-top:80px;
	padding: 0px 20px 0px 20px;
	z-index: 1;
}

#part2-world-map p, #part4-world-map p, #part2-world-map-cases p {
	text-align: right;
	margin-right:10px;
	font-size: .8em;
	color: grey;
	margin-top: 0px;
	bottom:0px;
}

#part2-mapTitle {
	position:absolute;
	text-align: center;
	bottom:30px;
	margin: 0 auto;
	right:0px;
	left:0px;
	color:#515151;
	font-style: italic;
}
#part2-top-info p{
	text-align: center;
}

#part2-emph1 {
	text-align: center;
}

#part2-emph1 span {
	font-size: 48px;
	width:100px;
}

#part2-emph2 {
	position:relative;
	text-align: center;
	margin: 0 auto;
	z-index: 2;
	right: 0px;
	left: 0px;
	padding-bottom: 15px;
}

#part2-emph2 span {
	font-size: 48px;
	width:100px;
}

#part2-emph1, #part2-emph2 {
	
}


		/*-----------------------*/
		/* --- PART 3 STYLES --- */
		/*-----------------------*/
#part3 {
	background: #ffe1b0;
/* 	background-color: #32394f; */
	background-image: url('../images/moon-stars.png');
	background-repeat: no-repeat;
	background-position: right top;
	background-position-y: 80px;
}

#part3-top {
	position: absolute;
	background: #f4ac3a;
/* 	background-color: #232439; */
	
	height: 80px;
	width: 100%;
	z-index: 3;
}

#part3-title {
	color:white;
	text-shadow: 4px 2px 42px white;
}

#part3 .textbox {
	position:absolute;
}

#part3-text1{
	padding: 5px 20px;
	border-radius: 10px;
	z-index: 5;	
	color: #c40000;
	margin: 0 auto;
	right:0px;
	left:0px;
	top: 10%;
	width: 75%;
	height:150px;
}

#net {
	position: absolute;
	width: 100%;
	height:1261px;
	background: url('../images/net.png');
	background-position: center top ;
	background-repeat: repeat-x;
	background-position-y: 0px;
	z-index: 2;
	background-color: rgba(59,62,85,0.82);
}

#part3-methods-container{
	margin-top: 65px;
	position:relative;
	width:100%;
	height:100%;
	text-align: center;
	vertical-align: text-top;

}

#part3-methods-container .part3-methods {
	position: relative;
	margin:0 auto;
	width:30%;
	margin:10px;
	margin-bottom: -10px;
	display:inline-block;
	height:100%;
	min-height:400px;
	color:#c20000;
	vertical-align: top;
}

#part3-methods-container .method-title {

}

#part3-methods-container .methods-top {
	position: relative;
	background:rgba(128,128,128,0.63);
	border-radius: 5px;	
	color:white;
	font-size: 14px;
	padding: 1px 10px 1px 10px;
	text-align: justify;
	margin-top:-10px;
	z-index: 1;

}
#part3-methods-container .methods-bottom {
	position:relative;
	height: 100%;
}

.methods-bottom p {
	position:absolute;
	text-align: right;
	font-size: 14px;
	z-index: 2;
}

#part3-bed,#part3-mininet {
	position: absolute;
	height:40%;
	max-width:100%;
	margin: 0 auto;
	right:0px;
	left:0px;
	top:-10px;
	z-index: 0;

}

#part3-spraycan,#part3-spraycloud{
	position: absolute;
	height:30%;
	max-height: 260px;
	max-width: 100%;

	margin: 0 auto;
	right:0px;
	left:0px;
	top:10%;
	z-index: 0;

}


/*

				<div class="methods-top">
				<h3 class="method-title">Indoor residual spraying</h3>
				</div>
				<div class="methods-bottom">
				</div>				
*/


		/*-----------------------*/
		/* --- PART 4 STYLES --- */
		/*-----------------------*/
#part4{
	background: #6fa1ad;
}		

#part4-top {
	position: absolute;
	background: #c13b3b;
	height: 80px;
	width: 100%;
	z-index: 3;
	}

#part4-toptext {
	max-height:160px;
	min-height: 160px;
	margin: 0 auto;
	margin-top: 60px;
	width:90%;
	position: relative;
/* 	background: #e5ddba; */
	margin-bottom: 20px;
	
	color: white;
	padding: 20px;
	font-size: 16px;
	z-index: 1;
	background: rgba(218,218,218,0.52);
	padding-bottom: 40px;
}

#part4 .textbox{
	position:absolute;
	background:rgba(255,255,255,0.5);
	padding: 5px;
	border-radius: 10px;
	z-index: 2;	
	color: black;
	font-size: 12px;
}

#chart1 {
	width: 70%;
	height: 200px;
	position:relative;
	text-align: center;
	margin: 0 auto;
	background: #d6e0e6;
	border: 2px inset rgba(175,175,175,0.4);
}

#part4-world-map {
	position:absolute;
	vertical-align: bottom!important;
	bottom:0px!important;
	margin-bottom: 0px!important;
	z-index: 0;
}


#part4-map-legend-cases {
	border-radius: 0px!important;
	width: auto;
	height: auto;
	text-align: center;
	right: 0px;
	bottom:70px;
	background: #e7e7e7!important;
}

#part4-map-legend-cases .legend-colours {
	width: 100px;
	height: 15px;
	margin-bottom: -3px;
	display: inline-block;
	background: -webkit-linear-gradient(left, white , #9a0000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #9a0000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #9a0000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white , #9a0000); /* Standard syntax (must be last) */
}

#part4b{
	position: relative;
	background-color:#6fa1ad;
	height: 200px;
	padding-top: 10px;
	padding-bottom:50px;
	z-index: 5;
}

.spacer {
	text-align: center;
	min-height: 100px;
	background-image: url(../images/example_bg_spacer_v.gif);
}
.spacer.s0 {
	min-height: 1px;
}


/*
			<div id="part4-toptext"></div>	
		  	<div id="part4-world-map"></div>
	</div>
	<div id="chart1" style="height: 200px; width: 70%; position: relative; text-align:center;margin: 0 auto;"></div>		
*/